{% include 'cars/header.html' %}
<center>
<div class="card" style="width: 18rem;">
  <img src="{{object.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
      <h1>{{object.title}}</h1>
    <p class="card-text">{{object.description}}</p>
       <p class="card-text">{{object.color}}</p>
       <p class="card-text">{{object.type_car}}</p>
       <p class="card-text"><a href="{{object.url_car}}">{{object.url_car}}</a></p>
      <p class="card-text">{{object.created_at}}</p>

      <!--Логика для отображения коментариев к объекту-->

      {% for i in object.comment_object.all %}

      <h1>Оценка машины - {{i.rate_stars}}</h1>
      <p><b>Дата оценки - {{i.created_at}}</b></p>

      {% endfor %}
    <!--//-->

      <button><a href="/cars_detail/{{object.id}}/delete/">Удалить</a></button>
      <button><a href="/cars_detail/{{object.id}}/update/">Изменить</a></button>

  </div>
</div>
</center>
{% include 'cars/footer.html' %}